#home {
  bearnorth-logo {
    height: 90%;
    // vertical-align: middle;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .logo-row {
    padding: 10px 0 10px 0;
    vertical-align: middle;
    background-color: #cecece;
  }
  .activity-name-col {
    color: #005826;
    text-align: center;
    font-size: 48px;
    padding: 50px 0 0 0;
  }
  .activity-icon-col {
    vertical-align: middle;
    padding: 10px 50px 50px 50px;
    opacity: 1.0;
    &:hover {
      opacity: 0.65;
    }
  }
  .activity-icon {
    width: 100%;
  }
  .bottom-row {
    height: 100px;
    background-color: #cecece;
  }
  .all-items-link {
    font-size: 36px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-link {
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glyphicon {
    color: #005826;
  }
}
