<div class="profilePage container">

	<div class="profile row">
		<div class= "col-lg-12">
			<user-item user="user" title="Profile Information"></user-item>
		</div>
	</div>
	<div class="orderHistory row">
		<div class= "col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Order History</h3>
				</div>
				<div class="panel-body">
					<order-item ng-repeat="order in orders" ng-if="order.orderDetails.length" order="order"></order-item>
					<div ng-show="!orders.length">
						<i>No live orders<i>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews row">
		<div class= "col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reviews</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
					<li class="list-group-item" ng-repeat="review in reviews">
						<a ui-sref="userReview({productId: review.productId,
																reviewId: review.id,
																userId: review.userId})">
							<h4 class="list-group-item-heading">{{review.title}}</h4>
							<p class="list-group-item-text">{{review.description}}</p>
	            <i class="glyphicon glyphicon-star" ng-if="review.rating >= 1"></i>
	            <i class="glyphicon glyphicon-star" ng-if="review.rating >= 2"></i>
	            <i class="glyphicon glyphicon-star" ng-if="review.rating >= 3"></i>
	            <i class="glyphicon glyphicon-star" ng-if="review.rating >= 4"></i>
	            <i class="glyphicon glyphicon-star" ng-if="review.rating >= 5"></i>
	          </a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</div>