product-catalog-listing {

  img {
    width: 100%;
  }

  .prod-img {
    width: 25%;
    display: inline-block;
    padding-bottom: 50px;
  }

  .prod-summary {
    width: 70%;
    padding-left: 10px;
    vertical-align: middle;
    display:  inline-block;
  }

  ul {
    -webkit-padding-start: 10px;
  }

  li {
    list-style: none;
    // display: block;
  }

}

.catelog-category-name {
  padding: 25px 0 10px 0;
  border-bottom: 2px solid black;
  margin: 0 0 25px 0;
}
