<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">My Cart</h3>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cart">
          <td>
            <a ui-sref="product({ productId: item.productId })">
              <img ng-src="{{ item.product.pictureUrl }}" style="height: 100px"></img>
            </a>
          </td>
          <td>
            <a ui-sref="product({ productId: item.productId })">
              <b>{{ item.product.name }}</b>
            </a><br>
            {{ item.product.category }}
          </td>
          <td>
            <form class="form-inline">
              <input class="form-control input-sm" value="{{ item.quantity }}">
              <button class="btn btn-default btn-sm">Update</button>
            </form>
            <br><br>
            <button class="btn btn-default btn-xs" ng-click="removeFromCart(item.product.id)">Remove</button>
          </td>
          <td>{{ item.subtotal | number: 2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="profilePage" ng-controller='ProfileCtrl'>
  <div class="aboutMe">
    <div class="sectionHeader">Your Info</div>
    <ul class="userItem">Email: {{user.email}}</ul>
    <ul class="userItem">Location: {{user.geography}}</ul>
    <ul class="userItem">Age: {{user.age}}</ul>
    <ul class="userItem">Gender: {{user.gender}}</ul>
  </div>
  <div class="orderHistory">
    <div class="sectionHeader">Order History</div>
    <ul ng-repeat="order in orders" class="userItem">Order: {{order.title}}</ul>
  </div>
  <div class="reviews">
    <div class="sectionHeader">Reviews</div>
    <ul ng-repeat="review in reviews" class="userItem">Review: {{review.title}}</ul>
  </div>
</div> -->
