<section id="home">
  <!-- logo -->
  <div class="row logo-row stripe-row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <bearnorth-logo></bearnorth-logo>
    </div>
    <div class="col-md-2"></div>
  </div>

  <!-- activities --><!-- 
  <div class="row">
    <div class="col-md-4 activity-name-col">
      <button >Camp</button>
    </div>
    <div class="col-md-4 activity-name-col">
      <button ng-click="goToSurvey($event)">Kayak</button>
    </div>
    <div class="col-md-4 activity-name-col">
      <button ng-click="goToSurvey($event)">Climb</button>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 activity-icon-col">
      <a ui-sref="survey({choice: 'camp'})">
        <div class="activity-name-col">Camp</div>
        <img src="/images/camp.png" class="activity-icon">
      </a>
    </div>
    <div class="col-md-4 activity-icon-col">
      <a ui-sref="survey({choice: 'kayak'})">
        <div class="activity-name-col">Kayak</div>
        <img src="/images/kayak.png" class="activity-icon">
      </a>
    </div>
    <div class="col-md-4 activity-icon-col">
      <a ui-sref="survey({choice: 'climb'})">
        <div class="activity-name-col">Climb</div>
        <img src="/images/climb.png" class="activity-icon">
      </a>
    </div>
  </div>

  <!-- all items -->
  <div class="row stripe-row bottom-row">
    <div class="col-md-4"></div>
    <div class="col-md-4 all-items-link">
      <a ui-sref="products">
        View all items
        <div class="glyphicon glyphicon-play-circle"></div>
      </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2"></div>
    <div class="col-md-1"></div>
  </div>

</section>
