<div class="list-group-item">
	<a ui-sref="product({ productId: product.id })">
		<div class="prod-img">
		  <img ng-src="{{ product.pictureUrl }}">
		</div>
		<div class="prod-summary">
			<div class="row">
		  	{{ product.brand }} <b>{{ product.name }}</b>
			</div>
			<div class="row" style="position:absolute; bottom: 50px;">
			  <ul>
			    <li><a ng-click="addToCart(product)">Buy: {{ product.purchase_price }}</a></li>
			    <li>Rent: {{ product.rental_price }}</li>
			  </ul>
			</div>
		</div>
		<button class="btn btn-warning btn-sm" ng-click="addToCart(product) && $event.stopPropagation()">Add to cart</button>
	</a>
</div>