<section id="home">

  <!-- activities -->
  <div class="row">
    <div class="col-md-8 activity-name-col show">
      Custom Package
      <div class='customPackage'>
        <div>{{criteria}}</div>
        <div ng-repeat="item in mainPackage" class="productRow">
          <input type="checkbox">{{item.category}}: {{item.name}} <button ng-click="seeMore(item)">see more</button>
        </div> 
        <button class="productRow" ng-click="wantToAdd=true">Add More Items!</button>
          <select ng-show="wantToAdd" id="optionBar" ng-model="addOptions" ng-change="seeMoreOptions()">
            <option ng-repeat='category in categories' >{{category.DISTINCT}}</option>
          </select>
        <div class="productRow">Buy: {{totalPrice}}</div>
        <div class="productRow">Rent: {{rentalPrice}}</div>
      </div>
    </div>
    <div class="col-md-4 activity-name-col show options">
      <div>{{altCategory}}</div>
      <div class="altRow" ng-repeat="item in alternatives">
        <div>Name: {{item.name}}</div>
        <img src="{{item.pictureUrl}}">
        <div>Description: {{item.description}}</div>
        <div>Buy: {{item.purchase_price}}</div>
        <div>Rent: {{item.rental_price}}</div>
        <button ng-click='swap(item)'>Add In!</button>
      </div>
    </div>
  </div>

  <style>
    .show{
      border: thin black solid;
      height: 500px;
    }
    .options{
      overflow: auto;
    }
    .productRow{
      font-size: 14px;
      text-align: left;
      padding-left: 30%;
    }
    .altRow{
      font-size: 14px;
      text-align: left;
      padding-left: 5%;
    }
    .altRow img{
      height: 40px;
      width: 40px;
    }
  </style>

</section>
