.profilePage {
	border: thin black solid;
}

.aboutMe, .orderHistory, .reviews {
	border: thin black solid;
	width:60%;
	margin-left:20%;
}

.sectionHeader {
	text-align: center;
	font-size: 16px;
}

.userItem {
	font-size: 12px;
}